In [1]:
# import dependencies
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType

In [2]:
## create spark session
appName = "PySpark Example - JSON file to Spark Data Frame"
master = "local"

spark = SparkSession.builder \
    .appName(appName) \
    .master(master) \
    .getOrCreate()

/home/azureuser/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
# read data source
json_file_path = './demographic_info.json'
dataframe = spark.read.json(json_file_path)
print("Rows Read: ",dataframe.count())

Rows Read:  55

In [4]:
#using select query
df = dataframe.select("name", "age", "gender", "isActive", "balance", "company", "eyeColor", "email", "phone")
print("Printing Selected Coulmns: \n")
df.show()

Printing Selected Coulmns:

+-----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
|             name|age|gender|isActive|  balance|  company|eyeColor|               email|            phone|
+-----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
|      Lowe Larson| 42|  male|    true|$2,411.24| RENOVIZE|   brown|lowelarson@renovi...|+1 (829) 550-2765|
| Daugherty Wooten| 16|  male|    true|$2,407.28|ACRODANCE|   green|daughertywooten@a...|+1 (802) 479-3544|
| Patterson Hooper| 28|  male|   false|$3,350.58| EPLOSION|   green|pattersonhooper@e...|+1 (939) 419-2625|
|      Hood Ortega| 53|  male|    true|$2,147.34|  GRACKER|    blue|hoodortega@gracke...|+1 (880) 575-3417|
|   Fuller Morales| 58|  male|    true|$1,851.82|MANGELICA|   brown|fullermorales@man...|+1 (958) 597-3314|
|     Lela Griffin| 55|female|   false|$1,374.50|   BIFLEX|    blue|lelagriffin@bifle...|+1 (808) 409-2628|
|     Harmon Giles| 34|  male|    true|$3,294.72|   VETRON|   green|harmongiles@vetro...|+1 (957) 417-3607|
|Tricia Pennington| 18|female|   false|$1,590.81|CRUSTATIA|   brown|triciapennington@...|+1 (912) 537-2355|
|    Fisher Mathis| 45|  male|    true|$1,546.40|   ZAPPIX|    blue|fishermathis@zapp...|+1 (863) 435-3679|
|     Karla Barker| 35|female|   false|$3,972.28|SLOGANAUT|    blue|karlabarker@sloga...|+1 (852) 510-2077|
|      Judy Lowery| 18|female|   false|$2,015.93|  ORONOKO|   brown|judylowery@oronok...|+1 (810) 404-2033|
|   Tamika Wheeler| 16|female|   false|$2,856.15| LIQUICOM|   brown|tamikawheeler@liq...|+1 (867) 470-2734|
|  Sharlene Benton| 36|female|    true|$1,272.43|     WAAB|    blue|sharlenebenton@wa...|+1 (825) 578-3842|
|   Daniel Vasquez| 39|  male|   false|$2,343.17|  OPTIQUE|   green|danielvasquez@opt...|+1 (816) 594-2560|
|     Lola Clayton| 24|female|   false|$1,344.88|  ZENTURY|    blue|lolaclayton@zentu...|+1 (850) 571-3058|
|    Rivera Keller| 29|  male|   false|$2,039.52|ACCUPRINT|   green|riverakeller@accu...|+1 (960) 497-3871|
|     Moran Hester| 29|  male|    true|$2,800.62|  SYNKGEN|   green|moranhester@synkg...|+1 (860) 421-2865|
| Leslie Middleton| 54|female|   false|$2,899.17| ENTALITY|    blue|lesliemiddleton@e...|+1 (864) 524-2649|
|     Simpson Vega| 57|  male|    true|$1,835.50|  DATAGEN|   brown|simpsonvega@datag...|+1 (913) 577-3921|
|    Manuela Burke| 53|female|   false|$2,736.21|   DUFLEX|   brown|manuelaburke@dufl...|+1 (938) 426-3780|
+-----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
only showing top 20 rows

In [5]:
#using filter
df = df.filter(df.isActive == "true")
print("Filter with isActive: \n")
df.show()

Filter with isActive:

+----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
|            name|age|gender|isActive|  balance|  company|eyeColor|               email|            phone|
+----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
|     Lowe Larson| 42|  male|    true|$2,411.24| RENOVIZE|   brown|lowelarson@renovi...|+1 (829) 550-2765|
|Daugherty Wooten| 16|  male|    true|$2,407.28|ACRODANCE|   green|daughertywooten@a...|+1 (802) 479-3544|
|     Hood Ortega| 53|  male|    true|$2,147.34|  GRACKER|    blue|hoodortega@gracke...|+1 (880) 575-3417|
|  Fuller Morales| 58|  male|    true|$1,851.82|MANGELICA|   brown|fullermorales@man...|+1 (958) 597-3314|
|    Harmon Giles| 34|  male|    true|$3,294.72|   VETRON|   green|harmongiles@vetro...|+1 (957) 417-3607|
|   Fisher Mathis| 45|  male|    true|$1,546.40|   ZAPPIX|    blue|fishermathis@zapp...|+1 (863) 435-3679|
| Sharlene Benton| 36|female|    true|$1,272.43|     WAAB|    blue|sharlenebenton@wa...|+1 (825) 578-3842|
|    Moran Hester| 29|  male|    true|$2,800.62|  SYNKGEN|   green|moranhester@synkg...|+1 (860) 421-2865|
|    Simpson Vega| 57|  male|    true|$1,835.50|  DATAGEN|   brown|simpsonvega@datag...|+1 (913) 577-3921|
|Concetta Spencer| 43|female|    true|$2,678.44|MUSANPOLY|   brown|concettaspencer@m...|+1 (910) 584-2945|
|       Lori Rich| 46|female|    true|$1,675.59| TWIGGERY|   green|loririch@twiggery...|+1 (820) 576-3515|
|     Diaz Carson| 14|  male|    true|$3,169.39|  PLASMOS|   green|diazcarson@plasmo...|+1 (987) 426-2245|
|   Nettie Dennis| 15|female|    true|$2,527.23| KATAKANA|   brown|nettiedennis@kata...|+1 (900) 412-3106|
| Rosalinda Wolfe| 13|female|    true|$1,394.98|  GEOFORM|   green|rosalindawolfe@ge...|+1 (831) 576-3214|
|  Addie Mckinney| 29|female|    true|$3,501.79|  MARVANE|   brown|addiemckinney@mar...|+1 (964) 419-2240|
| Kirsten Mcbride| 35|female|    true|$1,579.90|     GYNK|   brown|kirstenmcbride@gy...|+1 (922) 559-3513|
|      Faith Rice| 37|female|    true|$1,193.99|  JETSILK|   brown|faithrice@jetsilk...|+1 (943) 514-2850|
|      Mabel Byrd| 39|female|    true|$2,567.42|DARWINIUM|    blue|mabelbyrd@darwini...|+1 (948) 521-3321|
| Eugenia Mcgowan| 35|female|    true|$1,104.00| GLEAMINK|    blue|eugeniamcgowan@gl...|+1 (957) 600-3785|
|   Celia Walters| 47|female|    true|$1,233.30|  KONNECT|   brown|celiawalters@konn...|+1 (921) 559-2230|
+----------------+---+------+--------+---------+---------+--------+--------------------+-----------------+
only showing top 20 rows

In [6]:
#Adding new column Age_Group
df = df.withColumn("Age_Group", when((df.age >= 13) & (df.age < 20), lit("Teenager")) \
      .when((df.age >= 20) & (df.age < 40), lit("Adult")) \
      .when(df.age >= 40, lit("Old")) \
      .otherwise(lit("NA")))
print("Output with new column Age_Group")
df.show(10, False)

Output with new column Age_Group
+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+---------+
|name            |age|gender|isActive|balance  |company  |eyeColor|email                        |phone            |Age_Group|
+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+---------+
|Lowe Larson     |42 |male  |true    |$2,411.24|RENOVIZE |brown   |lowelarson@renovize.com      |+1 (829) 550-2765|Old      |
|Daugherty Wooten|16 |male  |true    |$2,407.28|ACRODANCE|green   |daughertywooten@acrodance.com|+1 (802) 479-3544|Teenager |
|Hood Ortega     |53 |male  |true    |$2,147.34|GRACKER  |blue    |hoodortega@gracker.com       |+1 (880) 575-3417|Old      |
|Fuller Morales  |58 |male  |true    |$1,851.82|MANGELICA|brown   |fullermorales@mangelica.com  |+1 (958) 597-3314|Old      |
|Harmon Giles    |34 |male  |true    |$3,294.72|VETRON   |green   |harmongiles@vetron.com       |+1 (957) 417-3607|Adult    |
|Fisher Mathis   |45 |male  |true    |$1,546.40|ZAPPIX   |blue    |fishermathis@zappix.com      |+1 (863) 435-3679|Old      |
|Sharlene Benton |36 |female|true    |$1,272.43|WAAB     |blue    |sharlenebenton@waab.com      |+1 (825) 578-3842|Adult    |
|Moran Hester    |29 |male  |true    |$2,800.62|SYNKGEN  |green   |moranhester@synkgen.com      |+1 (860) 421-2865|Adult    |
|Simpson Vega    |57 |male  |true    |$1,835.50|DATAGEN  |brown   |simpsonvega@datagen.com      |+1 (913) 577-3921|Old      |
|Concetta Spencer|43 |female|true    |$2,678.44|MUSANPOLY|brown   |concettaspencer@musanpoly.com|+1 (910) 584-2945|Old      |
+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+---------+
only showing top 10 rows

In [7]:
df.createOrReplaceTempView("EMP")
spark.sql("select name, age, gender, isActive, balance, company, eyeColor, email, phone from "+
     " (select *, row_number() OVER (PARTITION BY gender ORDER BY balance DESC) as rn " +
     " FROM EMP) tmp where rn = 1").show()

+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+
|         name|age|gender|isActive|  balance|company|eyeColor|               email|            phone|
+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+
|   Naomi Kemp| 17|female|    true|$3,601.90|EXOBLUE|   green|naomikemp@exoblue...|+1 (965) 465-2006|
|Griffin Carey| 47|  male|    true|$3,330.34| OBONES|   green|griffincarey@obon...|+1 (869) 531-3076|
+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+

In [8]:
#maximun 
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
w = Window.partitionBy("gender").orderBy(col("balance").desc())
print("Top Male & Female on the basis of Balance")
df.withColumn("row",row_number().over(w)) \
  .filter(col("row") == 1).drop("row") \
  .show()

+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+
|         name|age|gender|isActive|  balance|company|eyeColor|               email|            phone|Age_Group|
+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+
|   Naomi Kemp| 17|female|    true|$3,601.90|EXOBLUE|   green|naomikemp@exoblue...|+1 (965) 465-2006| Teenager|
|Griffin Carey| 47|  male|    true|$3,330.34| OBONES|   green|griffincarey@obon...|+1 (869) 531-3076|      Old|
+-------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+

In [9]:
#second maximun 
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
w = Window.partitionBy("gender").orderBy(col("balance").desc())
print("Top Second Male & Female on the basis of Balance")
df.withColumn("row",row_number().over(w)) \
  .filter(col("row") == 2).drop("row") \
  .show()

Top Second Male & Female on the basis of Balance
+--------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+
|          name|age|gender|isActive|  balance|company|eyeColor|               email|            phone|Age_Group|
+--------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+
|Addie Mckinney| 29|female|    true|$3,501.79|MARVANE|   brown|addiemckinney@mar...|+1 (964) 419-2240|    Adult|
|  Harmon Giles| 34|  male|    true|$3,294.72| VETRON|   green|harmongiles@vetro...|+1 (957) 417-3607|    Adult|
+--------------+---+------+--------+---------+-------+--------+--------------------+-----------------+---------+

In [10]:
#create temp view table
dataframe.createTempView("sample_data_view")
spark.sql('''
    SELECT _id, name, age, gender, isActive, balance, company, eyeColor, email, phone
    FROM sample_data_view
    WHERE isActive == "true"
    ''').show(10, False)

+------------------------+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+
|_id                     |name            |age|gender|isActive|balance  |company  |eyeColor|email                        |phone            |
+------------------------+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+
|6189fc14820ae399fbf0e72e|Lowe Larson     |42 |male  |true    |$2,411.24|RENOVIZE |brown   |lowelarson@renovize.com      |+1 (829) 550-2765|
|6189fc149e47c242d283481f|Daugherty Wooten|16 |male  |true    |$2,407.28|ACRODANCE|green   |daughertywooten@acrodance.com|+1 (802) 479-3544|
|6189fc1443ea95f1b7cfb74e|Hood Ortega     |53 |male  |true    |$2,147.34|GRACKER  |blue    |hoodortega@gracker.com       |+1 (880) 575-3417|
|6189fc14ec90e8b6164151d5|Fuller Morales  |58 |male  |true    |$1,851.82|MANGELICA|brown   |fullermorales@mangelica.com  |+1 (958) 597-3314|
|6189fc14cc63ad72d6a2e110|Harmon Giles    |34 |male  |true    |$3,294.72|VETRON   |green   |harmongiles@vetron.com       |+1 (957) 417-3607|
|6189fc14df01500f000bf167|Fisher Mathis   |45 |male  |true    |$1,546.40|ZAPPIX   |blue    |fishermathis@zappix.com      |+1 (863) 435-3679|
|6189fc1445150b965cd733d0|Sharlene Benton |36 |female|true    |$1,272.43|WAAB     |blue    |sharlenebenton@waab.com      |+1 (825) 578-3842|
|6189fc14bbec659ad1e7dce2|Moran Hester    |29 |male  |true    |$2,800.62|SYNKGEN  |green   |moranhester@synkgen.com      |+1 (860) 421-2865|
|6189fc141f80e2eafc033e9f|Simpson Vega    |57 |male  |true    |$1,835.50|DATAGEN  |brown   |simpsonvega@datagen.com      |+1 (913) 577-3921|
|6189fc141f9e08930a96b272|Concetta Spencer|43 |female|true    |$2,678.44|MUSANPOLY|brown   |concettaspencer@musanpoly.com|+1 (910) 584-2945|
+------------------------+----------------+---+------+--------+---------+---------+--------+-----------------------------+-----------------+
only showing top 10 rows

In [11]:
#convert to rdd
rdd_object = df.rdd
rdd_object.saveAsTextFile(f"./rdd_text_new")

In [12]:
#end spark session
spark.stop()